registry=https://registry.npmmirror.com/
fetch-retries=50
fetch-retry-mintimeout=120000
fetch-retry-maxtimeout=1800000
timeout=1800000
strict-ssl=false
maxsockets=1
network-concurrency=1
fetch-timeout=1800000
ca=null
cafile=null
cert=null
key=null 